<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Thymeleaf include 구문 -->
<div th:include="/layout/header"></div>
<div class="container">
    <form>
        <input type="hidden" id="id" th:value="${#authentication.principal.user.id}"/>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" th:value="${#authentication.principal.user.username}" class="form-control" placeholder="Enter username" id="username" readonly>
        </div>

        <!-- oauth가 있는 계정(예: 카카오 로그인)은 비밀번호를 바꾸지 못하게 함(비밀번호 란을 띄우지 않음) -->
        <div class="form-group" th:if="${#strings.isEmpty(#authentication.principal.user.oauth)}">
            <label for="password">Password</label>
            <input type="password" class="form-control" placeholder="Enter password" id="password">
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" th:value="${#authentication.principal.user.email}" class="form-control" placeholder="Enter email" id="email" readonly>
        </div>
    </form>
    <button id="btn-update" class="btn btn-primary">회원 수정 완료</button>
</div>

<script src="/js/user.js"></script>

<!-- Thymeleaf include 구문 -->
<div th:include="/layout/footer"></div>

